.app {
  max-width: 800px;
  margin: 16px auto;

  .content {
    padding: 16px;

    .public-DraftEditor-content {
      background-color: #fafafa;
      &:focus {
        outline: none;
      }
    }
  }
}
